.slidev-layout.default {
	padding-left: 3.5rem;
	padding-right: 3.5rem;

	.message {
		margin-left: -3.5rem;
		margin-right: -3.5rem;

		font-size: 1.5rem;
		text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5rem;
	}
}
