.slidev-layout.fact {
	display: grid;
	height: 100%;
	text-align: center;

	h1 {
		font-size: 6rem;
    line-height: 1;
    font-weight: 700;
	}
	h1 + p {
		font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
	}
}
