@import url("./cover.css");
@import url("./default.css");
@import url("./fact.css");
@import url("./intro.css");
@import url("./quote.css");
@import url("./section.css");
@import url("./self-intro.css");
@import url("./statement.css");

.slidev-layout {
	height: 100%;
	padding: 2.5rem 3.5rem;
	font-size: 1.2rem;
	color: var(--progfay-foreground);
	background-color: var(--progfay-background);

	p {
    line-height: 1.5rem;
    margin: 0;
	}

	ul { list-style: square; }
  ol { list-style: decimal; }

  li {
		margin: 0 1.1em 0 0;
    padding: 0 0.2em 0 0;
    line-height: 1.8em;
  }

	> :not(:is(h1, h2, h3, h4, h5, h6):first-child) + * {
		margin-top: 1rem;
	}

	> :not(:is(h1, h2, h3, h4, h5, h6):first-child) + .slidev-code-wrapper {
		/* bypass `!important` of https://github.com/slidevjs/slidev/blob/9d30081469cd7ed08586bb8973649a88567cfa25/packages/client/styles/code.css#L30 */
		margin-top: 1rem !important;
	}

	:is(ol, ul):has(> li > :is(ol, ul)) {
		gap: 1rem;
	}

	li > :is(ol, ul) {
		margin-top: 0.5rem;
	}

	:is(h1, h2, h3, h4, h5, h6):not(:last-child) {
		margin-bottom: 1.5rem;
	}

	h1 {
		font-size: 2.25rem;
    line-height: 2.5rem;
		margin-left: -0.05em;
    margin-right: 0;
	}
	h2 { font-size: 1.875rem; line-height: 2.25rem; }
	h3 { font-size: 1.5rem;   line-height: 2rem; }
	h4 { font-size: 1.25rem;  line-height: 1.75rem; }
	h5 { font-size: 1rem;     line-height: 1.5rem; }
	h6 {
		margin-left: -0.05em;
		margin-right: 0;
    padding-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
	}
	h6:not(.opacity-100) { opacity: 0.4; }

	ul, ol {
		display: flex;
    flex-direction: column;
    gap: 0.2rem;
	}

	a {
		color: var(--progfay-link);
		border-bottom: none;

		&:hover {
	    border-style: solid;
	  }
	}

	b,
  strong {
    font-weight: 700;
  }

	pre,
  code {
    -webkit-user-select: text;
    user-select: text;
  }

  code {
		font-family: var(--slidev-code-font-family);
	}

	kbd {
		border-width: 1px;
    border-bottom-width: 2px;
    border-color: rgb(156 163 175 / 0.2);
    border-radius: 0.25rem;
		background-color: rgb(156 163 175 / 0.05);
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--slidev-code-font-family);
  }

	blockquote {
		background: var(--slidev-code-background);
    color: var(--slidev-code-foreground);
    line-height: 1.25rem;
		border-radius: 0 0.25rem 0.25rem 0;
		position: relative;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		display: flex;
    flex-direction: column;
    gap: 1rem;

		&::before {
			content: "";
			width: 4px;
			height: 100%;
			display: block;
			background: light-dark(darkgray, lightgray);
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 2px;
		}

		> * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	table {
    width: 100%;

		tr {
			border-bottom-width: 1px;
			border-color: rgb(from var(--progfay-gray) r g b / 0.5);
		}

		th {
			text-align: left;
			font-weight: 400;
		}

		td,
		th {
			padding: 0.5rem;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
		}
  }
}
