.slidev-layout.self-intro {
	--background-color: #c1d3db;
	--foreground-color: #05061d;
	--on-foreground-color: #ffffff;

	display: grid;
	grid-template-columns: 6fr 4fr;
	background-color: var(--background-color);
	color: var(--foreground-color);

	.left {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 4fr 6fr;

		.name {
			display: grid;
			grid-template-columns: auto 1fr;
			place-items: center;
			gap: 1.2rem;

			.real-name {
				background-color: var(--foreground-color);
				color: var(--on-foreground-color);
				margin: 0;
				width: fit-content;

				.container {
					display: block;
					margin: 0.8rem 1.2rem;

					.label {
						font-size: 1.5rem;
					}

					.value {
						font-size: 1.8rem;
						display: inline-flex;
						gap: 0.5rem;

						rt {
							font-size: 0.8rem;
							margin-bottom: 0.1rem;
						}
					}
				}
			}

			.screen-name {
				display: flex;
				align-items: center;
				gap: 0.2rem;
				margin: 0;
				width: 100%;

				.label {
					display: flex;
					gap: 0.1rem;

					a { border-bottom: none; }
					svg {
						width: 2.4rem;
						height: 2.4rem;
					}
				}

				.value {
					font-weight: 900;
					font-size: 2rem;
				}
			}
		}

		.description {
			padding-left: 1rem;

			ul {
				list-style: disc;
				display: flex;
			  flex-direction: column;
				gap: 1rem;
				font-size: 1.5rem;
			}
		}
	}

	.right {
		width: 100%;
		height: 100%;
		background-image: url("/progfay.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
