@import url("./layouts/index.css");
@import url("./typography.css");

:root {
  --progfay-blue: #80b4ef;
  --progfay-red: #dc5e5c;
  --progfay-black: #14161a;
  --progfay-white: #f2f9fc;
  --progfay-gray: #a5a5a1;

  --progfay-background: var(--progfay-black);
  --progfay-foreground: var(--progfay-white);
  --progfay-primary: var(--progfay-blue);
  --progfay-accent: var(--progfay-red);
  --progfay-link: var(--progfay-blue);
  --progfay-note: var(--progfay-gray);
}

.light:root {
  --progfay-blue: #1577d8;
  --progfay-red: #ee0012;
  --progfay-black: #05061d;
  --progfay-white: #ffffff;
  --progfay-gray: #9492b0;

  --progfay-background: var(--progfay-white);
  --progfay-foreground: var(--progfay-black);
  --progfay-primary: var(--progfay-blue);
  --progfay-accent: var(--progfay-red);
  --progfay-link: var(--progfay-blue);
  --progfay-note: var(--progfay-gray);
}
